.cadTipoAtivo{
    display: flex;
    flex-direction: column;

}
.cadTipoAtivo h1{
    width: 30%;
    margin-left: 13%;

}

.cadTipoAtivo form{
    display: flex;
    flex-direction: column;
    
}

.cadTipoAtivo label{
    margin-top: 9px;
}

.cadTipoAtivo input {
    width: 50%;
    border-radius: 6px;
}

.cadTipoAtivo select {
    width: 30%;
    border-radius: 6px;
}

.cadTipoAtivo button{
    margin-top: 25px;
    width: 10%;
    height: 30%;
    margin-left: 17%;
    border-radius: 6px;
    font-size: 16px;
}

.cadTipoAtivo textarea{
    margin-top: 15px;
    width: 50%;
    height: 80px;
    border-radius: 5px;

}